#contacto__main {
    background-image: map-get($backgrounds, background-4);
    background-size: cover;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5rem;

    h1 {
        color: map-get($paletaColores, blanco);
        font-size: 50px;
    }

    h2 {
        color: map-get($paletaColores, blanco);
        font-size: 20px;
    }
}

.container__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: map-get($paletaColores, rojo-op);
    border-radius: 10px;

    input {
        border-radius: 5px;
        background-color: transparent;
        border-color: black;
    }

    .form__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    
        .form__left__campo {
            padding: 5px;
        }
        
    }
    
    .form__right__campo {
        padding: 5px;
    }
}


.form__button {
    width: 60px;
    height: 30px;
    margin-top: 15px;
}