footer {
    background-color: map-get($colores, color-footer);
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__redes {
    display: flex;
    justify-content: center;

    div {
        a {
            padding: 10px;
        }
    }
}