header {
    grid-area: encabezado;
}

.navbar {
    background-color: map-get($paletaColores, gris) !important;
}

.menu__logo {
    width: 6vw;
}

.nav-link {
    font-weight: bold !important;
    color: map-get($paletaColores, negro) !important;
    margin-left: 20px;
}