#home__main {
    background-image: map-get($backgrounds, background-1);
    background-size: cover;
    // grid-area: home;
}

.grid__main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr .75fr .25fr 1fr;
    grid-template-areas:"mtb mtb deco1 deco1"
                        "deco2 guantes guantes cascos";
    row-gap: 1em;
    column-gap: 1em; 
    flex-wrap: wrap;
}

.image__mtb {
    
    grid-area: mtb;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image__deco-uno {
    
    grid-area: deco1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image__deco-dos {
    
    grid-area: deco2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image__guantes {
    
    grid-area: guantes;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image__cascos {
    
    grid-area: cascos;
    width: 100%;
    height: 100%;
    object-fit: cover;
}