#productos__background {
    background-image: map-get($backgrounds, background-2);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bfbfbf4f;
    margin: 20px 0;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: map-get($paletaColores, gris-op);
    @include card-size;
}

.card__image {
    width: 224px;
    height: 100%;
    border-top-left-radius: 20px;
}

.card__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2px 0 5px;
    margin: 5px 0 5px 5px;
    
}

.card__name {
    font-size: 2rem;
}

.card__text {
    display: flex;
    flex-direction: column;
}

.card__btn {
    text-decoration: none;
    color: white;
    background-color: map-get($paletaColores, rojo-3);
    width: 40%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}